<ion-header>
  <ion-toolbar>
    <ion-title>
      Forms test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #form="ngForm">
    <ion-item>
      <ion-label>Regular input</ion-label>
      <input [(ngModel)]="reg" name="reg" min="5" type="number" inputmode="numeric" style="text-align: right" required>
    </ion-item>
    <pre>errors: {{ form?.controls?.reg?.errors | json }}</pre>
    <ion-item>
      <ion-label>ion-input</ion-label>
      <ion-input [(ngModel)]="ion" name="ion" min="6" type="number" inputmode="numeric" style="text-align: right" required>
      </ion-input>
    </ion-item>
    <pre>errors: {{ form?.controls?.ion?.errors | json }}</pre>
    <ion-item>
      <ion-label>ion-input2</ion-label>
      <ion-input [(ngModel)]="ion2" name="ion2" email style="text-align: right" type="email">
      </ion-input>
    </ion-item>
    <pre>errors: {{ form?.controls?.ion2?.errors | json }}</pre>

    <ion-checkbox [(ngModel)]="ion3" name="ion3" required></ion-checkbox>
    <pre>errors: {{ form?.controls?.ion3?.errors | json }}</pre>
  </form>
</ion-content>
